<div>
    <h3>Hey {{ name }},</h3>
    <h3>Thanks for starting the new NHCinema account creation process. We want to make sure it's really you. Please enter the following verification code when prompted.</h3>
    <h3>Verification code</h3>
    <h3>{{ code }}</h3>
    <h3>If you don’t want to create an account, you can ignore this message.</h3>
</div>
<style>
    div {
        margin-left: 20px;
        font-size: 16px;
    }
    h3{
    color:#444;
    }
    strong{
    color:#000;
    }
</style>
