<div class="container">
    <h3>Hey {{ name }},</h3>
    <h3>We received a request to reset your password for the NHCinema account. To proceed with the password reset, please use the verification code below:</h3>
    <h3>Verification code:</h3>
    <div class="verification-code">{{ code }}</div>
    <p class="note">If you didn’t request a password reset, you can ignore this message.</p>
</div>


<style>
    body {
        font-family: Arial, sans-serif;
        color: #444;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    h3 {
        color: #444;
        font-size: 18px;
    }

    .verification-code {
        margin-top: 20px;
        font-size: 24px;
        color: #000;
    }

    .note {
        margin-top: 20px;
    }
</style>